body {
  margin: 0;
  padding: 0;
  background-image: url("./spbackground.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed; /* This will fix the background image's position */
  background-position: center;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Dancing Script", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.app-container {
  padding: 20px;
}

.content {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .app-container {
    padding: 10px;
  }
  .content {
    margin-top: 15px;
  }
}